#about,
#four-o-four {
  .five.columns {
    padding: ws(medium);
    background: color(white);
  }

  @media (min-width: 1000px) {
    .five.columns {
      padding: ws(large);
    }
  }

  .desc {
    color: color(grey);
  }

  .work {
    margin-top: ws(medium);
  }

  .email {
    margin-top: ws(medium);
  }
}