#about,
#four-o-four {
  .five.columns {
    padding: ws(x-large);
    background: color(white);
  }

  .desc {
    color: color(grey);
  }

  .work {
    margin-top: ws(medium);
  }

  .email {
    margin-top: ws(medium);
  }
}