#portfolio {
  .row:nth-of-type(even) {
    margin-top: ws(x-large);
  }

  .inner {
    border-top: none;
  }

  .project {
    .title {
      font-weight: bold;
    }

    .stack {
      color: color(grey);
      font-style: italic;
    }

    .desc {
      margin-top: ws(small);
    }
  }
}