#testimonials {
  @media (max-width: 1000px) {
    &.sec {
      background: lighten(color(light), 4%);
    }
  }

  @media (max-width: 550px) {
    blockquote {
      text-align: left !important;
    }
  }

  blockquote {
    text-align: center;

    .author {
      margin-top: ws(medium);
      font-style: italic;

      span {
        color: color(grey);

        &:before {
          content: "\\";
          margin: 0 ws(tiny);
        }
      }
    }
  }
}