* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
  font-family: monospace;
}

a {
  color: inherit;
}

.container-fluid {
  padding: 4rem;
  max-width: 66rem;
}

.about-card {
  position: relative;
  padding: 2rem;
}

.about-card .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1rem;
  left: 1rem;
  z-index: -1;
}

.about-card .name,
.about-card .error {
  font-size: 1.5rem;
}

.about-card .info {
  padding: 2rem 0;
}

.about-card .message {
  padding-bottom: 2rem;
}

.about-card .email {
  display: inline-block;
  margin-top: 2rem;
}
