* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  line-height: 1.3;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #fff;
  background-color: #6F58C9;
}

a {
  color: inherit;
}

strong {
  font-weight: 700;
}

.container-fluid {
  display: flex;
  height: 100%;
  padding: 0 1.5rem;
  max-width: 66rem;
  align-items: flex-start;
}

.about-card {
  position: relative;
  padding: 2rem 1.5rem;
  text-align: left;
}

.about-card .name,
.about-card .error {
  font-size: 1.2rem;
}

.about-card .info {
  padding-top: 1.2rem;
}

.about-card .info:last-of-type {
  padding-bottom: 1.2rem;
}

.about-card .message {
  padding-bottom: 2rem;
}

.about-card .role,
.about-card .message {
  color: rgba(255, 255, 255, 0.6);
}

.about-card .email {
  display: inline-block;
  margin-top: 2rem;
}

.rings {
  width: 100%;
  min-height: 20rem;
  background: url(../images/sun.svg) no-repeat;
  background-size: 50%;
  background-position: center;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 48em) {
  :root {
    font-size: 18px;
  }

  .container-fluid {
    padding: 0 4rem;
    align-items: center;
  }

  .about-card {
    padding: 2rem;
    text-align: left;
  }

  .rings {
    margin-bottom: 0;
  }
}
