RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Add a trailing slash
RewriteCond %{REQUEST_URI} !(/$|\.)
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]

RewriteRule ^xv/$ xv.html [L]
RewriteRule ^prattle/$ prattle.html [L]
RewriteRule ^showcase/$ showcase.html [L]
