* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

::selection {
  background: color(black);
  color: color(white);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font: font(default);
  color: color(black);
  background: color(light);
}

a {
  color: inherit;
  text-decoration: underline;
  display: inline-block;
  position: relative;
  z-index: 1;
  
  &:hover {
    text-decoration: underline;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 14px;
      display: block;
      background: color(light);
      z-index: -1;
    }
  }
}

@-moz-document url-prefix() {
  a {
    &:hover {
      text-decoration: none;

      &:after {
        height: 14px;
        bottom: 2px;
      }
    }
  }
}