$font-family: Amiri, Lora, Georgia, serif;
$font-serif: Ameriri, serif;

$colors: (
  white: #FFFFFF,
  light: #F1F1F1,
  grey: #878c94,
  black: #2c2c32,
  blue: #76859c
);

$whitespace: (
  xxx-large: 8rem,
  xx-large: 5rem,
  x-large: 4rem,
  large: 3rem,
  medium: 2rem,
  small: 1.2rem,
  tiny: 0.4rem
);

$font-size: (
  default: 18px/1.35,
  xx-large: 8rem/1.0,
  x-large: 5rem/1.0,
  large: 3rem/1.0,
  medium: 1.6rem/1.2,
  tiny: 0.8rem/1.0
);