$font-family: Lora, Georgia, serif;
$font-serif: Lora, serif;

$colors: (
  white: #FFFFFF,
  light: #F1F1F1,
  grey: #878c94,
  black: #2c2c32
);

$whitespace: (
  huge: 6rem,
  xx-large: 5rem,
  x-large: 4rem,
  large: 3rem,
  medium: 2rem,
  small-medium: 1.2rem,
  small: 0.8rem,
  tiny: 0.4rem
);

$font-size: (
  default: 18px/1.5,
  xx-large: 8rem/1.0,
  x-large: 5rem/1.0,
  large: 3rem/1.0,
  medium: 1.6rem/1.2,
  tiny: 0.5rem/1.4
);