// sass --watch assets/scss/style.scss:assets/css/style.css  

// Common colours
$dark: #2c2c32; // #2E2E33;
$grey: #878c94;
$light: #f8f8f7;

$projects: xv prattle dreamscape; // showcase

#outline {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

body.outlined * {
  outline: 1px dashed rgba(red, 0.6);
}

// Custom vendor prefix mixin
@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

// Use translation to center vertically or horizontally
@mixin center($XorY, $position, $transforms: "") {
    position: #{$position};

    @if $XorY == X {
        left: 50%;
    } @else {
        top: 50%;
    }

    // Apply translation using the custom prefix mixin
    @include prefix("transform", "translate#{$XorY}(-50%) #{$transforms}");
}

* {
  margin: 0;
  padding: 0;
  font: 18px/30px "Hind", sans-serif;
  color: $dark;
  font-weight: 400;

  @include prefix("box-sizing", "border-box");

  // Make the text a little more legible
  @include prefix("font-smoothing", "antialiased");
}

$columns: 12;
$col-width: 54;
$gut-width: 32;

@for $i from 1 through $columns {
  .col-#{$i} {
    width: #{$i * $col-width + $gut-width * ($i - 1)}px;
    margin: 0 #{if($i != 12, $gut-width/2, "0")}px;
  }
}

[class*="col-"] {
  display: inline;
  float: left;
}

.inner {
  width: 1000px;
  height: 100%;
  padding: 76px 0;
  margin: 0 auto;
  border-bottom: 1px solid lighten($grey, 40%);
}

.row {
  width: 1000px;
  position: relative;
  margin: 0 auto;
  display: inline-block;

  [class*="col-"]:first-child {
    margin-left: 0;
  }

  [class*="col-"]:last-child {
    margin-right: 0;
  }

  .right {
    float: right;
    right: 0;
  }

  .left  {
    float: left;
    left: 0;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  background: $light;

  &.mac {
    #main-header {
      background: linear-gradient(rgba($dark, 0.9),rgba($dark, 0.8)),
        url(../images/rain-forest.jpg);
      background-size: cover;
    }

    #main-footer {
      background: linear-gradient(rgba(#2c2c32, 0.8),rgba(#2c2c32, 0.9)),
        url(../images/rain-forest.jpg);
      background-size: cover;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;

  // Remove black box on iOS
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &[class*="-chevron"] {
    display: inline-block !important;
  }

  &:hover {
    text-decoration: underline;

    &[class*="-chevron"]:after {
      margin-left: 8px;
      opacity: 1;
    }
  }

  &.l-chevron:after {
    content: "";
    width: 14px;
    height: 14px;
    background: url(../images/chevron-light.svg) no-repeat right;
    background-size: 14px;
    display: inline-block;
    margin-bottom: -1px;
    padding-left: 5px;
    opacity: 0.3;

    @include prefix("transition", "all 0.25s cubic-bezier(0.4, 1.2, 0.9, 1.2)");
  }

  &.d-chevron:after {
    content: "";
    width: 14px;
    height: 14px;
    background: url(../images/chevron-dark.svg) no-repeat right;
    background-size: 14px;
    display: inline-block;
    margin-bottom: -1px;
    padding-left: 5px;
    opacity: 0.3;

    @include prefix("transition", "all 0.25s cubic-bezier(0.4, 1.2, 0.9, 1.2)");
  }
}

.clearfix:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

.v-center {
    @include center("Y", "relative");
}

.h-center {
    @include center("X", "relative");
}

header,
section,
footer {
  width: 100%;
}

section {
  * {
    color: $dark;
  }

  ::selection {
    background: $dark;
    color: $light;
  }
}

strong {
  font-weight: 600;
  color: $dark;
}

#container {
  width: 1200px;
  margin: 0 auto;
  background: #fff;

  @include prefix("animation", "c-fade-in 1.25s");
}

.sec-title {
  font-size: 28px;
  color: $dark;
  margin-bottom: 72px;
}

#main-header {
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba($dark, 0.9),rgba($dark, 0.8)),
              url(../images/forest.jpg);
  background-size: cover;
  background-position: 0 50% !important;
  position: relative;

  * {
    position: relative;
    z-index: 2;
  }

  .photo-attr {
    position: absolute;
    bottom: 0;
    right: 10px;
    display: inline;
    font-size: 12px;
    color: $light;
    opacity: 0.2;

    a {
      font-size: 12px;
      text-decoration: underline;
    }
  }

  ::selection {
    background: $light;
    color: $dark;
  }

  .inner {
    border: 0;
  }

  .logo {
    color: #fff;
  }

  .portfolio-btn,
  .home-btn {
    color: #fff;
  }

  .personal,
  .project-info {
    margin-top: 156px;

    .name {
      color: #fff;
      font-size: 28px;
    }

    .desc {
      color: #fff;
      margin-top: 10px;

      span {
        color: #fff !important;
      }
    }

    .contact-btn,
    .live-btn {
      color: #fff;
      margin-top: 20px;
    }
  }
}

#what-i-do {
  .skills {
    .skill {
      .icon {
        width: 90px;
        height: 90px;
        display: inline-block;
        float: left;
        margin-right: 30px;
      }

      .title {
        font-weight: 600;
      }

      .text {
        color: $grey;
      }
    }

    .design {
      .icon {
        background: url(../images/design-icon.svg);
        background-size: 90px;
      }
    }

    .development {
      .icon {
        background: url(../images/development-icon.svg);
        background-size: 90px;
      }
    }
  }
}

#portfolio {
  .project {
    //border: 1px solid lighten($grey, 40%);
    // background: lighten($grey, 40%);
    height: 200px;
    position: relative;
    // margin-top: 76px;

    .hover {
      width: 100%;
      height: 100%;
      float: left;
      background: $dark;
      opacity: 0;
      padding: 30px;
      position: relative;

      @include prefix("transition", "opacity 0.25s ease-in-out");

      * {
        color: $light;
      }

      .learn-btn {
        position: absolute;
        bottom: 30px;
        left: 30px;
      }
    }

    &:hover {
      .hover {
        opacity: 1;
      }
    }

    &.featured {
      height: 350px;
      margin-top: 0;

      .info {
        padding-left: 50px;

        @extend .v-center;
      }
    }

    .project-title {
      font-size: 28px;
      color: #fff;
    }

    .project-desc {
      margin-top: 10px;
      color: #fff;
    }

    .learn-btn {
      color: #fff;
      display: block;
      margin-top: 20px;
    }

    @each $project in $projects {
      &.#{$project} {
        background: url(../images/#{$project}-thumb.jpg) no-repeat;
        background-size: 100%;
        background-position: center;
      }
    }
  }
}

#testimonials {
  .testm {
    blockquote {
      font-size: 24px;
      line-height: 40px;
      display: block;
    }

    .author {
      color: $grey;
      display: block;
      margin-top: 38px;
    }
  }
}

#social {
  .s-link {
    height: 38px;
    text-align: center;

    a {
      width: 38px;
      height: 38px;
      display: block;
      margin: 0 auto;

      @include prefix("transition", "opacity 0.25s ease-in-out");

      &:hover {
        opacity: 0.3;
      }
    }

    $links: dribbble github twitter linkedin flickr email;

    @each $link in $links {
      a.#{$link} {
        background: url(../images/#{$link}.svg) no-repeat;
        background-size: 38px 38px;
      }
    }
  }
}

.project {
  @each $project in $projects {
    &.#{$project} {
      .main-view {
        background: url(../images/#{$project}-main.png) no-repeat;
        background-size: 100%;
        background-position: center;
      }
    }
  }

  #main-header {
    &.project-hero {
      overflow: hidden;

      .project-info {
        margin-top: 100px;
      }

      .main-view {
        height: 394px;
        margin-top: 0px;
        box-shadow: -10px -1px 16px -10px rgba(#000, 0.4); // black 0.2
        border-bottom: 1px solid lighten($grey, 40%);
        position: absolute;
      }
    }
  }

  p {
    color: $grey;
  }

  h1 {
    font-size: 28px;
    color: $dark;
    clear: both;

    &:first-child {
      margin-bottom: 38px;
    }
  }

  code {
    display: inline-block;
    padding: 5px 10px 6px 10px;
    background: lighten($grey, 40%);
    font-family: monospace;
  }

  #proposal {
    .roli {
      margin-bottom: 38px;

      .col-5 {
        color: $grey;
      }
    }

    p:not(:last-of-type) {
      margin-bottom: 38px;
    }
  }

  #techs {
    .thrw:not(:last-of-type) {
      margin-bottom: 38px;
    }

    .tech {
      color: $grey;
    }

    .check-out {
      color: $grey;
      margin-top: 38px;

      a {
        text-decoration: underline;
      }
    }
  }

  #photos {
    [class*="col-"] {
      background: $grey;
      display: block;
      background-size: cover !important;
      background-position: center center;
      position: relative;
      overflow: hidden;

      @include prefix("filter", "grayscale(50%)");

      &:hover {
        @include prefix("filter", "grayscale(0%)");

        &:before {
          opacity: 0;
        }
      }

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba($dark, 0.8), rgba($dark, 0.7));
        display: block;
        position: absolute;
        z-index: 2;

        @include prefix("transition", "all 0.2s");
      }

      img {
        float: left;
        width: 100%;
      }
    }

    .row {
      &:first-of-type {
        .col-7 {
          height: 500px;
        }

        .col-5 {
          height: 268px;
          margin-right: 0;

          img {
            margin-top: -40px;
          }

          &:nth-of-type(2) {
            height: 200px;
            margin-bottom: 32px;

            img {
              margin-top: -80px;
            }
          }
        }
      }

      &:nth-of-type(2) {
        margin-top: 32px;

        .col-8 {
          height: 300px;
        }

        .col-4 {
          height: 300px;
        }
      }
    }
  }
}

#main-footer {
  width: 100%;
  background: linear-gradient(rgba(#2c2c32, 0.8),rgba(#2c2c32, 0.9)),
              url(../images/forest.jpg);
  background-size: cover;
  background-position: 0 85% !important;

  ::selection {
    background: $light;
    color: $dark;
  }

  .inner {
    border: 0;
  }

  .crafted,
  .copyright {
    color: #fff;
    line-height: 35px;

    .maple {
      width: 20px;
      height: 20px;
      float: left;
      background: url(../images/maple.svg);
      background-size: 20px;
      margin-top: 7px;
      margin-right: 10px;
    }
  }
}

// Retina assets
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  @each $project in $projects {
    body.home {
      #portfolio {
        .project.#{$project} {
          background: url(../images/#{$project}-thumb@2x.jpg) center !important;
          background-size: 100% !important;
        }
      }
    }

    body.project.#{$project} {
      #main-header {
        .main-view {
          background: url(../images/#{$project}-main@2x.png) !important;
          background-size: 100% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  #container {
    width: 900px;
  }

  .inner,
  .row {
    width: 800px;
  }

  $columns: 12;
  $col-width: 48;
  $gut-width: 20;

  @for $i from 1 through $columns {
    .col-#{$i} {
      width: #{$i * $col-width + $gut-width * ($i - 1)}px;
      margin: 0 #{$gut-width/2}px;
    }
  }

  .col-12 {
    margin-left: 0;
    margin-right: 0;
  }

  #main-header {
    height: 422px;

    .project-info {
      margin-top: 72px;
    }
  }

  body.home {
    .personal {
      margin-top: 190px !important;
    }
  }

  body.project{
    #main-header {
      .project-info {
        margin-top: 68px !important;
      }

      .main-view {
        height: 316px !important;
      }
    }

    #photos {
      .col-5 {
        img {
          width: 100% !important;
          height: auto !important;
        }
      }

      [class*="col-"] {
        @include prefix("filter", "grayscale(0%)");

        img {
          float: left;
          height: 100%;
          width: auto;
          margin: 0 !important;
        }

        &:before {
          opacity: 0;
        }
      }
    }
  }

  #main-footer {
    height: 200px;
  }
}

@media screen and (max-width: 940px) {
  body {
    padding: 0;
  }

  #container {
    width: 100%;
  }

  .inner,
  .row {
    width: 700px;
    position: relative;
  }

  $columns: 12;
  $col-width: 35;
  $gut-width: 25;

  @for $i from 1 through $columns {
    .col-#{$i}#{if($i == 6, ", .md-col-6", "")}#{if($i == 7, ", .md-col-7", "")}#{if($i == 12, ", .md-col-12", "")} {
      width: #{$i * $col-width + $gut-width * ($i - 1)}px;
      margin: 0 #{$gut-width/2}px;
    }
  }

  .row,
  .col-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .sec-title {
    text-align: center;
  }

  #main-header {
    height: 400px;

    .inner {
      padding-top: 40px;
    }
  }

  .md-col-6 {
    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:nth-of-type(2n-1) {
      margin-left: 0;
    }
  }

  #what-i-do {
    .skill {
      text-align: center;

      .icon {
        width: 72px !important;
        height: 72px !important;
        float: none !important;
        margin-bottom: 20px;
        margin-right: 0 !important;
      }
    }

    .design {
      .icon {
        background-size: 72px !important;
      }
    }

    .development {
      .icon {
        background-size: 72px !important;
      }
    }
  }

  #portfolio .featured .info {
    padding-left: 40px !important;
  }

  #portfolio .project {
    .hover {
      position: relative;
      padding: 0 !important;
      opacity: 0 !important;
      overflow: hidden;

      .desc {
        display: none;
      }

      a {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0 !important;
        bottom: 0 !important;
        opacity: 0;
        margin: 0;
      }
    }

    &:nth-of-type(-n+2) {
      margin-bottom: 38px;
    }
  }

  body.home {
    #main-header {
      .personal {
        margin-top: 186px !important;
      }
    }
  }

  body.project {
    #main-header {
      .project-info {
        margin-top: 75px;
      }

      .main-view {
        height: 275px !important;
        bottom: -78px !important;
      }
    }

    #photos {
      .col-7 {
        height: 400px !important;
      }

      .col-5 {
        height: 188px !important;
        margin-right: 0;

        img {
          margin-top: -40px;
        }

        &:nth-of-type(2) {
          height: 180px !important;

          img {
            margin-top: -80px;
          }
        }
      }
    }

    #techs {
      .tech:not(:last-of-type) {
        margin-bottom: 38px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }

  #container {
    width: 100%;
  }

  .inner {
    width: 88%;
    padding: 60px 0;
  }

  .row {
    width: 100%;
  }

  $columns: 12;

  @for $i from 1 through $columns {
    .col-#{$i} {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    @if $i == 2 {
      .sm-col-2 {
        width: 16.6% !important;
      }
    }
  }

  .sec-title {
    text-align: center;
  }

  body.home {
    #main-header {
      .inner {
        padding-top: 70px;
      }

      .row {
        height: 100% !important;
        display: block;

        .personal {
          margin-top: 0 !important;
        }

        &.upper {
          display: none;
        }
      }
    }

    .project .hover {
      position: relative;
      padding: 0 !important;
      opacity: 0 !important;
      overflow: hidden;

      .desc {
        display: none;
      }

      a {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0 !important;
        bottom: 0 !important;
        opacity: 0;
        margin: 0;
      }
    }
  }

  body.project {
    #main-header {
      .main-view {
        display: none;
      }
    }

    #photos {
      .col-7 {
        height: auto !important;

        img {
          width: 100%;
          height: auto;
        }
      }

      .col-5 {
        height: auto !important;
        margin-right: 0;
        margin-top: 60px;
        margin-bottom: 0 !important;

        img {
          margin-top: 0px;
          width: 100%;
          height: auto;
        }

        &:nth-of-type(2) {
          height: auto !important;

          img {
            margin-top: 0px;
          }
        }
      }
    }
  }

  #main-header {
    height: 380px !important;

    .inner {
      padding-top: 40px;
    }

    .personal {
      display: block;

      @include center("Y", "relative");
    }

    .project-info {
      margin-top: 0;
      position: relative;
      top: 50%;

      @include prefix("transform", "translateY(-25%)");
    }
  }

  #what-i-do {
    .skills {
      margin-top: 0px;

      .skill {
        margin: 0;
        text-align: center;

        &.development {
          margin-top: 50px;
        }

        .icon {
          margin-bottom: 8px;
          margin-right: 0;
        }
      }
    }
  }

  #portfolio {
    .project.featured {
      height: 200px;
      margin-bottom: 20px;

      .info {
        display: none;
      }
    }
  }

  .project {
    #main-header {
        .project-info {
          padding-top: 40px;
        }
    }

    #proposal {
      .roli {
        .col-4:first-of-type {
          margin-bottom: 19px;
        }
      }
    }

    #techs {
      .thrw {
        margin: 0 !important;
      }

      .tech:not(:first-of-type) {
        margin: 0 0 38px 0 !important;
      }
    }
  }

  #social {
    .s-link {
      height: 28px;

      a {
        width: 28px;
        height: 28px;
        background-size: 28px 28px !important;
      }
    }
  }

  #main-footer {
    .crafted {
      display: inline-block;
      float: none;
      margin: 0 auto;

      @include center("X", "relative");
    }

    .copyright {
      display: block;
      float: none;
      margin: 0 auto;
      text-align: center;
    }
  }
}

@-webkit-keyframes c-fade-in {
  from {
    opacity: 0;
    @include prefix("transform", "translateY(100px)");
  }
  to {
    opacity: 1;
    @include prefix("transform", "translateY(0px)");
  }
}

@-moz-keyframes c-fade-in {
  from {
    opacity: 0;
    @include prefix("transform", "translateY(100px)");
  }
  to {
    opacity: 1;
    @include prefix("transform", "translateY(0px)");
  }
}

@-o-keyframes c-fade-in {
  from {
    opacity: 0;
    @include prefix("transform", "translateY(100px)");
  }
  to {
    opacity: 1;
    @include prefix("transform", "translateY(0px)");
  }
}

@keyframes c-fade-in {
  from {
    opacity: 0;
    @include prefix("transform", "translateY(100px)");
  }
  to {
    opacity: 1;
    @include prefix("transform", "translateY(0px)");
  }
}
