#outline {
  position: fixed;
  bottom: 50px;
  right: 50px; }

body.outlined * {
  outline: 1px dashed rgba(255, 0, 0, 0.6); }

* {
  margin: 0;
  padding: 0;
  font: 18px/30px "Hind", sans-serif;
  color: #1c1b19;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.col-1 {
  width: 54px;
  margin: 0 16px; }

.col-2 {
  width: 140px;
  margin: 0 16px; }

.col-3 {
  width: 226px;
  margin: 0 16px; }

.col-4 {
  width: 312px;
  margin: 0 16px; }

.col-5 {
  width: 398px;
  margin: 0 16px; }

.col-6 {
  width: 484px;
  margin: 0 16px; }

.col-7 {
  width: 570px;
  margin: 0 16px; }

.col-8 {
  width: 656px;
  margin: 0 16px; }

.col-9 {
  width: 742px;
  margin: 0 16px; }

.col-10 {
  width: 828px;
  margin: 0 16px; }

.col-11 {
  width: 914px;
  margin: 0 16px; }

.col-12 {
  width: 1000px;
  margin: 0 16px; }

[class*="col-"] {
  display: inline;
  float: left; }

.inner {
  width: 1000px;
  height: 100%;
  padding: 60px 0;
  display: table;
  margin: 0 auto;
  border-bottom: 1px solid #f3f3f4; }

.row {
  width: 1000px;
  position: relative;
  margin: 0 auto;
  display: table; }
  .row [class*="col-"]:first-child {
    margin-left: 0; }
  .row [class*="col-"]:last-child {
    margin-right: 0; }
  .row .right {
    float: right;
    right: 0; }
  .row .left {
    float: left;
    left: 0; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  background: #f8f8f7; }

a {
  color: inherit;
  text-decoration: none; }

.clearfix:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
  visibility: hidden; }

.v-center, #portfolio .project.featured .col-5 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) ;
  -moz-transform: translateY(-50%) ;
  -o-transform: translateY(-50%) ;
  transform: translateY(-50%) ; }

.h-center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) ;
  -moz-transform: translateX(-50%) ;
  -o-transform: translateX(-50%) ;
  transform: translateX(-50%) ; }

::selection {
  background: #f8f8f7;
  color: #1c1b19; }

header,
section,
footer {
  width: 100%;
  display: table; }

#container {
  width: 1200px;
  margin: 100px auto;
  background: #fff; }

.sec-title {
  font-size: 28px;
  color: #878c94; }

#main-header {
  width: 100%;
  height: 450px;
  background: linear-gradient(rgba(44, 44, 50, 0.9), rgba(44, 44, 50, 0.8)), url(../images/rocks.jpg);
  background-size: cover;
  background-position: 0 75%; }
  #main-header .inner {
    border: 0; }
  #main-header .logo {
    color: #fff; }
  #main-header #main-nav {
    display: inline-block; }
    #main-header #main-nav ul {
      list-style: none; }
      #main-header #main-nav ul li {
        display: inline-block;
        color: #fff;
        margin: 0 10px; }
        #main-header #main-nav ul li:first-of-type {
          margin-left: 0; }
        #main-header #main-nav ul li:last-of-type {
          margin-right: 0; }
  #main-header .personal {
    margin-top: 100px; }
    #main-header .personal .name {
      color: #fff;
      font-size: 28px; }
    #main-header .personal .desc {
      color: #fff;
      margin-top: 10px; }
    #main-header .personal .contact-btn {
      color: #fff;
      margin-top: 20px;
      display: inline-block; }

#what-i-do .skills {
  margin-top: 50px; }
  #what-i-do .skills .skill {
    padding: 0 10px; }
    #what-i-do .skills .skill .icon {
      width: 60px;
      height: 60px;
      display: block;
      background: url(../images/browser.svg);
      background-size: 60px; }
    #what-i-do .skills .skill .title {
      font-weight: 600;
      margin-top: 10px; }
    #what-i-do .skills .skill .text {
      color: #878c94; }

#portfolio .project {
  border: 1px solid #f3f3f4;
  height: 200px;
  margin-top: 50px; }
  #portfolio .project.featured {
    height: 350px; }
    #portfolio .project.featured .col-5 {
      padding-left: 50px; }
  #portfolio .project .project-title {
    font-size: 28px;
    color: #fff; }
  #portfolio .project .project-desc {
    margin-top: 10px;
    color: #fff; }

#main-footer {
  width: 100%;
  background: linear-gradient(rgba(44, 44, 50, 0.9), rgba(44, 44, 50, 0.8)), url(../images/rocks.jpg);
  background-size: cover;
  background-position: 0 75%; }
  #main-footer .inner {
    border: 0; }
  #main-footer .crafted {
    color: #fff; }
  #main-footer .social-links {
    list-style: none;
    margin-top: 8px; }
    #main-footer .social-links li {
      margin: 0 5px;
      display: inline-block; }
      #main-footer .social-links li:first-of-type {
        margin-left: 0; }
      #main-footer .social-links li:last-of-type {
        margin-right: 0; }
      #main-footer .social-links li a.dribbble {
        width: 24px;
        height: 24px;
        display: block;
        background: url(../images/dribbble.svg) no-repeat;
        background-size: 24px 24px; }
      #main-footer .social-links li a.github {
        width: 24px;
        height: 24px;
        display: block;
        background: url(../images/github.svg) no-repeat;
        background-size: 24px 24px; }
      #main-footer .social-links li a.twitter {
        width: 24px;
        height: 24px;
        display: block;
        background: url(../images/twitter.svg) no-repeat;
        background-size: 24px 24px; }
      #main-footer .social-links li a.linkedin {
        width: 24px;
        height: 24px;
        display: block;
        background: url(../images/linkedin.svg) no-repeat;
        background-size: 24px 24px; }
      #main-footer .social-links li a.flickr {
        width: 24px;
        height: 24px;
        display: block;
        background: url(../images/flickr.svg) no-repeat;
        background-size: 24px 24px; }
      #main-footer .social-links li a.email {
        width: 24px;
        height: 24px;
        display: block;
        background: url(../images/email.svg) no-repeat;
        background-size: 24px 24px; }
