      <footer id="main-footer" class="sec">
        <div class="inner">
          <div class="row">
            <div class="six columns">
              <div class="copyright">&copy; 2015 Jaden Dessureault.</div>
            </div>
            <div class="six columns">
              <span class="crafted">Crafted in Canada.</span>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>