{{> header title='fof'}}

<div class="inner fof">
  <div class="row">
    <div class="twelve columns">
      <div class="num">404</div>
      <div class="message">There's nothing here.</div>

      <a href="/" class="home">Go home.</a>
    </div>
  </div>
</div>

{{> footer}}