{{> header title='fof'}}

<section id="four-o-four" class="sec">
  <div class="inner">
    <div class="row">
      <div class="five columns">
        <div class="name">404</div>
        <div class="work">You seem lost. There's nothing here.</div>
        <a class="email" href="/" title="Go home">Go back home</a>
      </div>
    </div>
  </div>
</section>

{{> footer}}