{{> header title='home'}}

<section id="hero" class="sec">
  <div class="inner">
    <div class="row">
      <div class="twelve columns">
        <div class="name">Jaden Dessureault</div>
        <div class="desc">Web Designer &amp; Front-end Developer</div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="sec">
  <div class="inner">
    <h2 class="sec-title">About</h2>

    <div class="row">
      <div class="eight columns">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor vitae erat quis lobortis. Praesent sodales, urna euismod accumsan lobortis, nibh lectus euismod diam, sed pretium eros elit eget lorem. Etiam pellentesque sem pulvinar, suscipit urna sit amet, egestas dui. Ut at porttitor metus, non dictum nunc. Sed elit urna, tincidunt id mollis hendrerit, varius id nulla. Aliquam sodales sodales est quis ultricies.</p>
      </div>
      <div class="four columns">
        <div class="icon"></div>
        <div class="title">Web/UI Design</div>
        <div class="desc">This is just a short description that will describe some cool things related to.</div>
      </div>
    </div>
  </div>
</section>

<section id="portfolio" class="sec">
  <div class="inner">
    <h2 class="sec-title">Portfolio</h2>

    <div class="row">
      <div class="project four columns">
        <div class="title">Boilerplate</div>
        <div class="stack">Node, Gulp, Sass, Handlebars</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
      <div class="project four columns">
        <div class="title">Darren Place</div>
        <div class="stack">HTML, Sass</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
      <div class="project four columns">
        <div class="title">DreamScape</div>
        <div class="stack">HTML, CSS, PHP, MySQL</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
    </div>

    <div class="row">
      <div class="project four columns">
        <div class="title">Prattle</div>
        <div class="stack">HTML, CSS, PHP</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
      <div class="project four columns">
        <div class="title">Pong</div>
        <div class="stack">Node, Socket.io, P5, EJS</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
      <div class="project four columns">
        <div class="title">Showcase</div>
        <div class="stack">HTML, CSS, PHP</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
    </div>
  </div>
</section>

<section id="awards" class="sec">
  <div class="inner">
    <h2 class="sec-title">Awards</h2>

    <div class="row">
      <div class="award four columns">
        <div class="title">Gold Medal</div>
        <div class="org">Skills Canada</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
      <div class="award four columns">
        <div class="title">Gold Medal</div>
        <div class="org">Skills Manitoba</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
      <div class="award four columns">
        <div class="title">Second Place</div>
        <div class="org">University of Manitoba</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="sec">
  <div class="inner">
    <div class="row">
      <div class="seven columns center">
        <blockquote>
          <div class="quote">"Jaden Dessureault is an excellent individual with a creative mind and the skills to back it up. He has an eye for perfection and strives to create amazing works quickly and professionally."</div>
          <div class="author">Darren Place<span>Visual Effects Artist</span></div>
        </blockquote>
      </div>
    </div>
  </div>
</section>

{{> footer}}