{{> header title='home'}}

<section id="hero" class="sec">
  <div class="inner">
    <div class="row">
      <div class="twelve columns">
        <div class="name">Jaden Dessureault</div>
        <div class="desc">Web Designer &amp; Front-end Developer from Canada.</div>

        <ul class="social-icons">
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="awards" class="sec">
  <div class="inner">
    <h1 class="sec-title">Awards</h1>

    <div class="row">
      <div class="award four columns">
        <div class="title">Gold Medal</div>
        <div class="org">Skills Canada</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
      <div class="award four columns">
        <div class="title">Gold Medal &times; 2</div>
        <div class="org">Skills Manitoba</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
      <div class="award four columns">
        <div class="title">Second Place</div>
        <div class="org">University of Manitoba</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
    </div>
  </div>
</section>

<section id="services" class="sec">
  <div class="inner">
    <h1 class="sec-title">Services</h1>

    <div class="row">
      <div class="award four columns">
        <div class="title">Gold Medal</div>
        <div class="org">Skills Canada</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
      <div class="award four columns">
        <div class="title">Gold Medal &times; 2</div>
        <div class="org">Skills Manitoba</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
      <div class="award four columns">
        <div class="title">Second Place</div>
        <div class="org">University of Manitoba</div>
        <div class="desc">This is just a short description that will describe some cool things related to this award.</div>
      </div>
    </div>
  </div>
</section>

{{> footer}}