{{> header title='home'}}

<section id="about" class="sec">
  <div class="inner">
    <div class="row">
      <div class="five columns">
        <div class="name">Jaden Dessureault</div>
        <div class="desc">Designer &amp; Developer</div>
        <div class="work">Design work can be found on <a href="https://dribbble.com/jaden">Dribbble</a>, code on <a href="https://github.com/jadnco">GitHub</a> and everything else on <a href="https://twitter.com/jadnco">Twitter</a>.</div>
        <a class="email" href="mailto:hello@jaden.io" title="Email me">hello@jaden.io</a>
      </div>
    </div>
  </div>
</section>

{{> footer}}